@model SportsStore.Web.Models.OrderViewModel

<h4>Checkout now</h4>
<p>Please enter your details, and we'll ship your order right away!</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Checkout" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <h4>Ship to</h4>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <h4>Address</h4>
            <div class="form-group">
                <label asp-for="Line1" class="control-label"></label>
                <input asp-for="Line1" class="form-control" />
                <span asp-validation-for="Line1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GiftWrap" /> @Html.DisplayNameFor(model => model.GiftWrap)
                </label>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Complete Order" class="btn btn-light border border-secondary py-2 icon-hover px-3" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
