@model Cart

<div class="d-flex float-end">
    @if(Model?.CartItems.Count > 0)
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model?.CartItems.Sum(x => x.Quantity) item(s)
            @Model?.ComputeTotalValue().ToString("c")
        </small>
    }
    <a class="border rounded py-1 px-3 nav-link d-flex align-items-center" asp-page="/Cart" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fas fa-shopping-cart m-1 me-md-2"></i><p class="d-none d-md-block mb-0">My cart</p>
    </a>

</div>