@model ProductListViewModel


<div class="row rows-cols-1 row-cols-md-4 g-4"> 
@* <div class="row"> *@

    @foreach (var p in Model.Products)
    {
        <div class="col">
            <partial name="_ProductSummary" model="p" />
        </div>
    }


</div>

<div page-model="@Model.PagingInfo" page-action="index" class="btn-group pull-right m-1"
     page-class-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     page-url-category="@Model.CurrentCategory!"></div>