@model ProductListViewModel


@foreach(var p in Model.Products)
{
   <partial name="_ProductSummary" model="p" />
}

<div page-model="@Model.PagingInfo" page-action="index" class="btn-group pull-right m-1" page-class-enabled="true" 
    page-class="btn"
    page-class-normal="btn-outline-dark"
    page-class-selected="btn-primary"
></div>